{
  // "defaultSeverity": "",
  "root": true,
  "extends": [
    "eslint:recommended",
    "prettier",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  // "linterOptions": {
  //   "exclude": ["node_modules/**/*"],
  //   "ordered-imports": false
  // },
  // "jsRules": {},
  "parserOptions": {
    "ecmaVersion": "latest",
    "tsconfigRootDir": "./",
    "project": "tsconfig.json"
  },
  "plugins": ["@typescript-eslint"],
  "parser": "@typescript-eslint/parser",
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "no-irregular-whitespace": 2,
    // "no-unused-expression": 1,
    // "no-duplicate-variable": 1,
    // "no-unused-variable": 2,
    // "curly": 1,
    // "class-name": 1,
    "no-console": 2,
    "semicolon": 0
    // "triple-equals": 1
  }
  // "rulesDirectory": []
}